header {
  text-align: center;
}

h1 {
  color: #E4BB97;
}

body {
  text-align: center;
  background-color: #584B53;
}

table {
  position: static;
  margin-left: 135px;
  border: 1.5px solid rgb(87, 73, 49);
  border-collapse: collapse;
  width: 80%;
  height: 200px;
  background-color: #E4BB97;
  color: #9D5C63;
}

th, td {
  border: 1.5px solid rgb(87, 73, 49);
  text-align: center;
  height: 45px;
}

form {
  position: static;
  margin-left: 135px;
  border: 1.5px solid rgb(87, 73, 49);
  border-collapse: collapse;
  width: 80%;
  background-color: #E4BB97;
  color: #9D5C63;
}

fieldset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}

legend {
  font-size: x-large;
}

button {
  transition: 350ms;
  background-color: #9D5C63;
  color: #E4BB97;
}

button:hover {
  background-color: #E4BB97;
  color: #9D5C63;
}

footer {
  margin-top: 30px;
}

a {
  color: #E4BB97;
}
