body {
  background-color: bisque;
}

table {
  border: 1.5px solid rgb(87, 73, 49);
  border-collapse: collapse;
  width: 80%;
  height: 200px;
  background-color: rgb(108, 138, 58);
  color: rgb(233, 220, 196);
}

th, td {
  border: 1.5px solid rgb(87, 73, 49);
  text-align: center;
  height: 45px;
}
