body {
  background-color: #584B53;
}

header {
  background-color: #E4BB97;
  text-align: center;
  border: 5px solid #9D5C63;
  margin-bottom: 10px;
}

h1 {
  position: relative;
  margin-top: 10px;
  font-family: 'Amatic SC', cursive;
  font-size: 140px;
  color: #9D5C63;
}

header img {
  margin-top: 20px;
  margin-left: 40px;
  float: left;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 0px;
  font-family: 'Amatic SC', cursive;
  font-size: xx-large;
}

a {
  font-size: 25px;
  text-decoration: none;
  color: #9D5C63;
}

#hero {
  width: 80%;
  margin-left: 100px;
  border: 5px dotted #D6E3F8;
}

figcaption {
  font-family: 'Amatic SC', cursive;
  font-size: xx-large;
  text-align: center;
  color: #E4BB97;
}

#family {
  font-size: x-large;
}

#bio {
  color: #E4BB97;
  font-size: xx-large;
  width: 50%;
  font-family: 'Amatic SC', cursive;
  margin-top: 0px;
  letter-spacing: 1px;
}

#cutter {
  align-self: flex-start;
  width: 20%;
  border: 5px dotted #D6E3F8;
  border-radius: 80px;
}

#cookie1 {
  width: 20%;
  border: 5px dotted #D6E3F8;
  border-radius: 80px;
}

#cookie2 {
  width: 30%;
  border: 5px dotted #D6E3F8;
  border-radius: 80px;
}

section {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

section article {
  margin-left: 30px;
}

h2 {
  font-size: 25px;
  margin-bottom: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #D6E3F8;
}

#merch {
  font-size: x-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #D6E3F8;
}

#shirt {
  border: 5px solid #E4BB97;
}

button {
  margin-top: 15px;
  transition: 350ms;
  background-color:#E4BB97;
  color: #584B53;
}

button:hover {
  background-color: #584B53;
  color: #E4BB97;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 150px;
  background-color: #E4BB97;
  margin-bottom: 30px;
}

footer p {
  color: #584B53;
  font-size: x-large;
}

table {
  position: static;
  text-align: center;
  border: 5px solid #9D5C63;
  border-collapse: collapse;
  padding: 30px;
  width: 80%;
  background-color: #E4BB97;
  color: #9D5C63;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

#footfish {
  border: 5px solid #9D5C63;
}
